//output: confirm_email.php
include _includes/issession.php
html
head
  title Mr. Spock
  link(rel="stylesheet", type="text/css", href="main.css") 
  include _jquery/scripts 
body
  .all-content.login
    
    .content-wrap 
      .logo-wrap  
        a(href="index.php") 
          img(src="_pics/logo.png" alt="Mr. Spock Logo") 
      .success-wrap
        p.success
          include _includes/confirm_email.php   
      a.button.light(href="login.php") Login
        

        
 
  
