//output: forgotpass.php
include _includes/issession.php
html
head
  title Mr. Spock - Forgot Password
  link(rel="stylesheet", type="text/css", href="main.css")
  include _jquery/scripts 
body
  .all-content.login
    
    .content-wrap
      .logo-wrap
        a(href="index.php")
          img(src="_pics/logo.png" alt="Mr. Spock Logo")
      include _includes/errors.php
      .form-wrap
        h1.txt-light
          | Forgot your Password?
        p
          | Don't worry. Enter your e-mail down below and we'll send you a link to reset your password.
        br
          
        form.column(method="POST" action="_php/forgotpass_action.php")
          input(type="email" name="email" placeholder="e-mail")
          button(type="submit")
            | Send

        

        
