//output: index.php
include _includes/issession.php
html
head
  title Mr. Spock
  link(rel="stylesheet", type="text/css", href="main.css")
  include _jquery/scripts 
body 
  .all-content.index
    include _includes/pages/index/user-info.php
    //.user-info-wrap
      .user-info
        img(class="user-pic" src="_pics/user.png")
        span.username TheMattHaslem
        a.button.dropdown
          img(src="_pics/drop_arrow.svg" alt="dropdown arrow")
      .user-options-wrap
        a(href="editinfo.php") Edit Info
        a(href="logout.php") Logout
    
    .content-wrap
      .logo-wrap
        img(src="_pics/logo.png" alt="Mr. Spock Logo")
      
      .search-wrap-all
        form(method="GET" action="serp.php")
          .search-wrap
          
            input(type="text" name="search" placeholder="Explore new articles...")
            button(type="submit")
              img(src="_pics/search_arrow.svg" alt="search arrow")
          
          .advanced-search-wrap
            .link
              span.open-advanced Advanced Search
            
            .advanced-search-items
              label(for="author-input") Author:
              input(type="text" id="author-input" name="author")
              label(for="publisher-input") Publisher:
              input(type="text" id="publisher-input" name="publisher")
              
      include _includes/pages/index/login-buttons.php

         
  
 
 
