//output: resetpass.php
include _includes/issession.php
html
head
  title The Matt Haslem
  link(rel="stylesheet", type="text/css", href="main.css")
  include _jquery/scripts 
body
  .all-content.login
    
    .content-wrap
      .logo-wrap
        a(href="index.php")
          img(src="_pics/logo.png" alt="Mr. Spock Logo")
      .form-wrap
        include _includes/errors.php
        include _includes/forms/resetpass.php 
        //form.column(method="POST" action="_php/resetpass_action.php")
          input(type="password" name="pass1" placeholder="password") 
          input(type="password" name="pass1" placeholder="re-enter password")
          button(type="submit")
            | Reset Pass

        
