// Borrows styles from serp.sass. 'Page's' class is defined there
.all-content.page
  .main-content-wrap
    .results-wrap
      margin-bottom: 25px
      a.go-back-button, a.favorite-button
        border-radius: 6px
        background: $primary-light
        color: $white
        align-self: flex-start

        &:hover
          text-decoration: underline

      a.favorite-button
        @include flex(row, center, center, nowrap)
        font-size: 11px
        padding: 5px 10px
        background: $white
        color: $light-gray
        border: solid 3px $light-gray
        margin: 15px 0

        .image-placeholder
          width: 15px
          height: 15px
          background-image: url('_pics/fav.svg')
          background-size: contain
          margin-right: 12px

        &.selected
          .image-placeholder
            background-image: url('_pics/x.svg')


      .item
        .item-info
          color: $gray

          span.key
            color: $primary-light
            font-style: oblique

          hr
            width: 100%
            border: solid 3px $primary-light
            margin: 20px 0px

          .desc
            margin-left: 15px
            margin-top: 15px

    .new-claim-wrapper
      width: min(70vw, 940px)
      max-width: min(70vw, 940px)
      padding: 50px
      background: $white
      margin-bottom: 20px

      .message
        width: 100%
        padding: 15px
        font-size: 14px
        color: $white
        display: none

        &.show
          display: block
          margin-bottom: 15px

        &.success
          background: rgba(52, 235, 140,1)

        &.fail
          background: $red

      form
        @include flex(column, flex-start, flex-start, nowrap)
        border: solid 2px $primary
        background: $primary-lighter
        padding: 30px

        & > *:not(h2, h3)
          margin-left: 15px

        input
          border: solid 1px $light-gray
          padding: 10px
          margin-bottom: 15px
          width: 300px
        label
          margin-right: 20px
          margin-bottom: 8px

        .row
          margin-bottom: 15px
          margin-top: 12px

        h3
          margin-top: 30px

        .button
          background: $primary-light
          color: $white

          &:hover
            background: $primary

          &.active
            background: $light-orange

        textarea
          height: 100px
          width: 350px
          margin-bottom: 20px

        #submit-claim
          background: $light-orange

          &:hover
            background: $orange


    .claims-wrapper
      width: min(70vw, 940px)
      max-width: min(70vw, 940px)
      padding: 50px
      background: $white

      .item-wrapper
        padding: 30px
        width: 100%
        background-color: $white

        &:nth-of-type(odd)
          background-color: #e8eff7

        .title
          font-size: 18px
          font-weight: bold
          margin-bottom: 15px

        .info
          font-size: 14px
          margin-bottom: 8px

          .value
            color: $primary-light

          p
            color: $primary
            margin-left: 12px
            font-style: oblique
