// Borrows styles from serp.sass. 'Page's' class is defined there
.all-content.page
  .main-content-wrap
    .results-wrap
      .item
        .item-info
          color: $gray

          span.key
            color: $primary-light
            font-style: oblique

          hr
            width: 100%
            border: solid 3px $primary-light
            margin: 20px 0px

          .desc
            margin-left: 15px
            margin-top: 15px
