body.serp, body.page
  background-color: #908b87
  background-image: url('_pics/spock_bg.jpg')
  background-attachment: fixed
  background-repeat: no-repeat
  background-position: 95% 95%
  background-size: 240px 240px

.all-content.serp, .all-content.page
  width: 100vw
  height: 100vh

  .top-bar
    @include flex(row, center, flex-start, nowrap)
    background-color: $primary
    padding: 30px

    .logo-wrap
      margin-right: 80px
      img
        width: 140px

    .search-wrap-all
      @include flex(column, flex-start, flex-start,nowrap)

      form
        margin: 0

        .search-wrap
          @include flex(row, center, flex-start, nowrap)

          input[type="text"]
            padding: 8px
            border-radius: 6px

          button[type="submit"]
            cursor: pointer
            padding: 10px

        .advanced-search-wrap
          position: relative

          .link
            margin: 8px 0 0 0
          .advanced-search-items
            transition: none
            position: absolute
            top: 25px
            left: 0
            height: 170px

            &.open
              min-height: 170px

            .items-wrap
              @include flex(column, flex-start, flex-start, nowrap)

              label
                margin-bottom: 4px

              input:not(:last-child)
                margin-bottom: 8px

    .nav-wrap
      width: 100%
      text-align: right
      padding-right: 50px

  .main-content-wrap
    @include flex(column, center, center, nowrap)
    padding: 40px 0
    overflow: auto

    .results-wrap
      padding: 50px
      background-color: $white

      max-width: min(70vw, 940px)
      width: min(70vw, 940px)

      .items-wrap
        @include flex(column, center, flex-start, nowrap)

        .item
          @include flex(row, flex-start, flex-start, nowrap)
          color: $primary
          padding: 40px

          &:nth-child(odd)
            background-color: #e8eff7

          .item-info
            @include flex(column, flex-start, flex-start, nowrap)
            flex: 5
            padding-right: 40px

            & > *:not(:last-child)
              margin-bottom: 15px

            .title
              font-size: 16px
              line-height: 1.2em
              color: $primary-light

              a
                font-size: inherit
                color: inherit
                line-height: inherit

                &:hover
                  text-decoration: underline

            .authors, .publishers
              color: $primary-lighter
              font-style: oblique


            .desc
              color: $gray
              line-height: 1.4em
              p
                color: inherit
                max-width: inherit
                line-height: inherit
              a
                color: $primary-lighter
                text-decoration: underline

                &:hover
                  color: $primary-light

          .downloads-wrap
            @include flex(column, flex-start, flex-start, wrap)
            flex: 1
            max-width: 140px
            min-width: 140px
            width: 140px

            h3
              margin-bottom: 10px

            .download-item
              @include flex(row, center, center, nowrap)
              color: $orange
              margin-bottom: 10px

              &:hover
                text-decoration: underline

              img
                width: 15px
                height: auto
                margin-right: 12px

              .title
                max-width: 120px
                word-wrap: break-word
